{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
    <div class="container">
        {% if businesses %}
        
        <div class="card card-body my-5">
            <table class="table">
                <thead class="black white-text">
                    <tr class="font-weight-bold">
                        <th class="th-sm">Business Name</th>
                        <th class="th-sm">Business Description</th>
                        <th class="th-sm">Business Owner</th>
                        <th class="th-sm">Business Email</th>
                        <th class="th-sm">Neighborhood</th>
                    </tr>
                </thead>

                <tbody>
                    {% for business in businesses %}
                    <tr>
                        <th scope="row">{{business.id}}</th>
                        <td>{{business.name}}</td>
                        <td>{{business.description}}</td>
                        <td>{{business.user}}</td>
                        <td>{{business.email}}</td>
                        <td>{{business.neighbourhood}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <th class="th-sm">Business Name</th>
                        <th class="th-sm">Business Description</th>
                        <th class="th-sm">Business Owner</th>
                        <th class="th-sm">Business Email</th>
                        <th class="th-sm">Neighborhood</th>
                    </tr>
                </tfoot>

            </table>
        </div>

        {% else %}

        <h1 class="text-center">No business available.</h1>

        {% endif %}

        <a href="{% url 'new_business' %}" class="btn btn-primary">Add a new business</a>
    </div>

{% endblock content %}